<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My welcome page</title>
</head>
<body>
    <h1>First impression of my page</h1>

    <!--/*@thymesVar id="variable" type="com.crud.tasks.controller.StaticWebPageController"*/-->
    <span th:text="${variable}"></span>

    <br>

    <!--/*thymesVar id="two" type="com.crud.tasks.controller.StaticWebPageController"*/-->
    <!--/*thymesVar id="multiplication" type="com.crud.tasks.controller.StaticWebPageController"*/-->
    <!--/*thymesVar id="equal" type="com.crud.tasks.controller.StaticWebPageController"*/-->
    <span th:text="${two}"></span>
    <span th:text="${multiplication}"></span>
    <span th:text="${two}"></span>
    <span th:text="${equal}"></span>
    <span th:text="${two}*${two}"></span>
    </br>
    <br1>
    <!--/*thymesVar id="two" type="com.crud.tasks.controller.StaticWebPageController"*/-->
    <!--/*thymesVar id="multiplication" type="com.crud.tasks.controller.StaticWebPageController"*/-->
    <!--/*thymesVar id="equal" type="com.crud.tasks.controller.StaticWebPageController"*/-->
    <!--/*thymesVar id="addition" type="com.crud.tasks.controller.StaticWebPageController"*/-->
    <span th:text="${two}"></span>
    <span th:text="${multiplication}"></span>
    <span th:text="${two}"></span>
    <span th:text="${addition}"></span>
    <span th:text="${two}"></span>
    <span th:text="${equal}"></span>
    <span th:text="${two}*${two}+${two}"></span>
    </br1>
    <br>
    <!--/*thymesVar id="two" type="com.crud.tasks.controller.StaticWebPageController"*/-->
    <!--/*thymesVar id="multiplication" type="com.crud.tasks.controller.StaticWebPageController"*/-->
    <!--/*thymesVar id="equal" type="com.crud.tasks.controller.StaticWebPageController"*/-->
    <!--/*thymesVar id="subtraction" type="com.crud.tasks.controller.StaticWebPageController"*/-->
    <span th:text="${two}"></span>
    <span th:text="${subtraction}"></span>
    <span th:text="${two}"></span>
    <span th:text="${multiplication}"></span>
    <span th:text="${two}"></span>
    <span th:text="${equal}"></span>
    <span th:text="${two}-${two}*${two}"></span>
    </br>
</body>
</html>